# Archivos de datos
*.xlsx
*.csv
*.txt

# Entornos virtuales
venv/
.venv/
env/
*.env

# Archivos de entorno (elimina la línea duplicada .gitignore)
.env

# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Streamlit
.streamlit/ 

# Sistema
.DS_Store
Thumbs.db